Source: binviewer
Section: misc
Priority: optional
Maintainer: Jeremie Decock <jd.jdhp@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.jdhp.org

Package: binviewer
Architecture: all
Depends: python (>= 2.5), python-gtk2 (>= 2.12.1)
Description: Create a graphical representation of a binary file.
 Create a graphical representation of a binary file.
